<div>
    <h1>Real Time Products</h1>
    <form>
        <input type="hidden" name="_method" value="DELETE">
        <label for="id">ID for the product you want to delete</label>
        <input name="id" id="id">
        <input type="submit" id="deleteProduct" value="Eliminar producto">
    </form>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>